CompileFlags:
  Add:
    - "-std=c++17"
    - "-Wall"
    - "-Wextra"
    - -isystem
    - /usr/lib/gcc/x86_64-pc-linux-gnu/15.2.1/include
  CompilationDatabase: release

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes
